/venv
.env
*.env

*.bin
*.bin*

*.ko
*.o
*.mod
*.mod.c
*.symvers
*.order

*.cmd

*.d

*.sign
*.mod.o
*.mod.o.cmd

*.tmp_versions/
.tmp_versions/

Module.symvers
modules.order

*build*
/out/

*.swp
*.swo
.DS_Store
Thumbs.db
